@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;700&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Noto Sans', sans-serif;
}

html,
body{
   height: 100%;
   min-height: 700px;
   background: rgb(119,40,0);
   background: linear-gradient(342deg, rgba(119,40,0,1) 0%, rgba(255,165,0,1) 100%);
}

body::before{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   min-height: 700px;
   left: 0;
   top: 0;
   opacity: 0;
   background: rgb(0,0,0);
   background: linear-gradient(342deg, rgba(0,0,0,1) 0%, rgba(41,41,41,1) 100%);
   transition: .3s;
}

body.active::before{
   opacity: 1;
}

.container{
   margin: 0 auto;
   width: 100%;
   height: 100%;
   max-width: 1080px;
   padding: 0 2%;
   position: relative;
}
#dark{
   background-color: black;
   color: white;
   position: absolute;
   display: block;
   border: 2px solid white;
   border-radius: 5px;
   cursor: pointer;
   padding: 8px 15px;
   top: 30px;
   left: 30px;
}
.btnType{
   display: block;
   position: absolute;
   left: 50%;
   bottom: 150px;
   transform: translateX(-50%);
   padding: 8px 15px;
   font-size: 16px;
   background-color: black;
   color: white;
   border: 2px solid white;
   border-radius: 5px;
   cursor: pointer;
   transition: .3s;
}

.btnType:hover{
   background-color: rgb(41, 41, 41);
}

.digital_clock,
.analogic_clock{
   width: 100%;
   max-width: 500px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   height: 100%;
}

.digital_clock h1{
   font-size: 50px;
   color: white;
   position: relative;
}

.digital_clock h1 span{
   position: absolute;
   font-size: 13px;
   right: 5px;
   top: 5px;
}

.digital_clock h1#period{
   font-size: 20px;
}

.digital_hr,
.digital_min,
.digital_sec{
   background-color: black;
   padding: 20px;
   border-radius: 10px;
   font-weight: normal;
   border: 2px solid white;
   box-shadow: 14px 13px 37px -13px rgba(0,0,0,0.75);
}

.container_point{
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   width: 250px;
   height: 250px;
   background-color: black;
   border: 2px solid white;
   position: relative;
   box-shadow: 14px 13px 37px -13px rgba(0,0,0,0.75);
}

.analogic_hr,
.analogic_min,
.analogic_sec{
   width: 10px;
   height: 10px;
   background-color: var(--bgclr);
   top: 50%;
   position: absolute;
   border-radius: 50%;
}
.analogic_hr{
   z-index: 3;
}
.analogic_min{
   z-index: 2;
}
.analogic_sec{
   z-index: 1;
}

.analogic_hr span,
.analogic_min span,
.analogic_sec span{
   position: absolute;
   left: 50%;
   background-color: var(--bgclr);
   transform: translateX(-50%);
}

.analogic_hr span{
   width: 3px;
   height: 50px;
   left: 50%;
   bottom: 100%;
}

.analogic_min span{
   width: 4px;
   height: 100px;
   left: 50%;
   bottom: 100%;
}

.analogic_sec span{
   width: 1px;
   height: 120px;
   left: 50%;
   bottom: -20px;
}

#tophour,
#righthour,
#bottomhour,
#lefthour{
   position: absolute;
   color: white;
   font-size: 20px;
   font-weight: lighter;
}
#tophour{
   top: 20px;
   left: 50%;
   transform: translateX(-50%);
}
#righthour{
   top: 50%;
   right: 20px;
   transform: translateY(-50%);
}
#bottomhour{
   bottom: 20px;
   left: 50%;
   transform: translateX(-50%);
}
#lefthour{
   top: 50%;
   left: 20px;
   transform: translateY(-50%);
}

#analogic_period{
   color: white;
   font-size: 16px;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: 60px;
   font-weight: normal;
}